body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.container{
    width: 10vw;
    padding: 2vw;
    background-color: coral;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: large;
}